h1{
    font-size: 3rem;
    margin-bottom: 5rem
}

.view-info{
    @apply my-6 mx-6 w-2/5;

    h2{
        @apply shadow-sm rounded-xl p-2 bg-gray-100 text-slate-500;

        min-height: 50px;
    }

    h3{
        @apply text-2xl text-emerald-400;
    }
}

.btn-box{
    p{
        cursor: pointer;
        margin: 20px;
        width: 150px;
        text-align: center;
    }
}

.pop-box {
    // justify-content: space-between;
    margin: auto;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    position: fixed;
    background-color: #000000b8;
    text-align: center;
  
    .cancel-btn{
        margin-top: 25% !important;
    }
    h3 {
      text-align: center;
      margin: auto;
      width: max-content;
      min-width: 160px;
      font-size: 30px;
      margin-top: 20px;
    }
    .btn {
        @apply mx-auto my-12 text-white;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
    }
  }